$size8: 8; 
$size10: 10; 
$size11: 11; 
$size12: 12;
$size13: 13;  
$size14: 14; 
$size15: 15;
$size16: 16; 
$size17: 17; 
$size18: 18; 
$size20: 20; 
$size22: 22; 
$size24: 24; 
$size26: 26; 
$size30: 30; 
$size36: 36; 
$size42: 42; 
$size48: 48; 
$size50: 50; 

//$font-menu: 'Source Sans Pro', arial,helvetica,sans-serif;
$font-primary: 'Source Sans Pro', arial,helvetica,sans-serif;
$font-secondary: Lora,Palatino,Times,Times New Roman,serif;
$font-featuredElement: ff-tisa-web-pro, Georgia, sans-serif;
$font-button: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;


/*COLORS*/
$linkText: #34AC98;
$FLAMINGO: #EC6635;
$MERCURY: #E9E9E9;
$WHITE: #FFFFFF;
$BLACK: #111;
$onHover: #EC6635;
$border: #E5E5E5;
$greyText: #AAA;