*{
	box-sizing: border-box;
}

body{
	width: 320px;
	@include respond-to(tablet){
		width: 480px;
	}
	 @include respond-to(ipad){
		width: 712px;
	} 
	height: 100%;
	margin: 0 auto;
}

a:hover,
a:active{
	cursor: pointer;
	text-decoration: none;
	color: $FLAMINGO;
}