*{
	box-sizing: border-box;
}

body{
	 width: 320px;
	 //width: 95%;
	 height: 100%;
	 margin: 0 auto;
	@include respond-to(tablet){
		width: 480px;
	}
	 @include respond-to(ipad){
		width: 712px;
	} 
	@include respond-to(laptop){
		width: 90%;
		padding-top: 50px;

	 }
}

a:hover,
a:active{
	cursor: pointer;
	text-decoration: none;
	color: $FLAMINGO;
}