.header{
	padding: 70px 0 15px;
	
	@include respond-to(tablet){
		padding: 20px 0;
	}
	
	@include respond-to(ipad){
		padding: 20px 0;
	}
	
	@include respond-to(laptop){
		//REFER home-page.scss
		padding: 0 0 15px;
	}


	.header_image{
		background: url("../images/food-sense.png") no-repeat; background-position: left bottom; background-size: 120px;
		height: 120px;
		width: 120px;
		margin: 0 auto;
	
		@include respond-to(tablet){
			margin-left: 20px;
		}
		@include respond-to(ipad){
			margin-left: 20px;
		}	


		&:hover{
			opacity: 0.8;
		}
	}
}

.header_menu{
		border-bottom: 1px solid $border;
		position: absolute;
		top: 0;
		left: 0;
		
		@include respond-to(tablet){
			border: none;
			top: 70px;
			left: 155px;
		}
		@include respond-to(ipad){
			border: none;
			top: 60px;
			left: auto;
			right: 0;
		}

		@include respond-to(laptop){
			border: none;
			top: 175px;
			left: 35px;
		}

		.menu{
			padding: 0px;
			@include clearfix;
			text-align: center;
			@include respond-to(laptop){
				text-align: left;
			}
			
			.menu_item{ 
				font-style: italic;
				list-style: none;
				float: left;
				padding: 16px 8px 6px;
				
				@include respond-to(tablet){
					padding: 0 0 0 15px;
					margin-bottom: 20px;
				}
				@include respond-to(ipad){
					padding: 0 0 0 15px;
					margin-bottom: 20px;
				}
				@include respond-to(laptop){
					float: none;
					padding: 0 0 12px 7px;

				}

				a{
					display: block;
					height: 25px;
					padding: 35px 15px 0 15px;
					@include fontStyle($size12);

					@include respond-to(smartphone){
						padding: 0;
						background-image: none;
					}
					@include respond-to(tablet){
						padding: 0;
						background-image: none;
					}
				    @include respond-to(ipad){
						@include font-size($size16);						
						 background-repeat: no-repeat;
						 background-position: 50% 0;						

						 &:hover{
							background-position: 50% 3px;						 	
						 }
					 }

					 @include respond-to(laptop){
					 	display: inline-block;
					 	@include font-size($size16);
						height: 35px;
					 	padding: 0 0 0 45px;

					 	background-repeat: no-repeat;
						background-position: 0 0;						

						&:hover{
							background-position: 5px 0;						 	
						}
					 } 

				}



			}
			
			 @include respond-to(ipad){
				.menu_item--tastemakers{a{ background-image: url("../images/nav-tastemakers.png");	}}
				.menu_item--blog{a{ background-image: url("../images/nav-blog.png");	}}
				.menu_item--alist{a{ background-image: url("../images/nav-alist.png");	}}
				.menu_item--contribute{a{ background-image: url("../images/nav-contribute.png");	}}
				.menu_item--about{a{ background-image: url("../images/nav-about.png");	}}
			} 
			@include respond-to(laptop){
				.menu_item--tastemakers{a{ background-image: url("../images/nav-tastemakers.png");	}}
				.menu_item--blog{a{ background-image: url("../images/nav-blog.png");	}}
				.menu_item--alist{a{ background-image: url("../images/nav-alist.png");	}}
				.menu_item--contribute{a{ background-image: url("../images/nav-contribute.png");	}}
				.menu_item--about{a{ background-image: url("../images/nav-about.png");	}}
			} 
		}
}

.socialUpdates{
	display: none;

	@include respond-to(laptop){
		display: block;
		position: absolute;
		top: 500px;
		left: 50px;
		width: 160px;

	}
	
	
	.twitter{
		margin-bottom: 30px;
	}

	.twitter , .facebook{
		.socialUpdates_heading{
			@include font-size($size12);
			font-family: $font-featuredElement;
			border-bottom: 1px dashed $border;
			padding-bottom: 5px;
			margin-bottom: 10px;
		}
		
		.socialUpdates_intro{
			@include font-size($size10);
			font-style: italic;
			font-family: $font-featuredElement;
			line-height: 1.8;
			padding-bottom: 15px;
		}
		
		.socialUpdates_text{
			@include fontStyle($size10);
			font-style: italic;
			border: 1px solid $border;
			border-radius: 3px;
			&:hover{
				background: $navbackground;
				border-color: $navBorder;
			}
			a{
				display: block;
				background-repeat: no-repeat;
				background-position: 5px 6px;
				padding: 10px 5px 10px 30px;
			} 
			.twitter_button{
				background-image: url("../images/icon-twitter-16.png");		
			}

			.facebook_button{
				background-image: url("../images/icon-facebook-16.png");
			}

		}
	}
}


