.pageWrapper{
	position: relative;
	width: 100%;
	height: 100%;
}

@include respond-to(widescreen){
 	.pageWrapper{
 		.wrap{
			@include clearfix;	

			.header{
				float: left;
				width: 20%;
			}

			.contentBlock{
				float: right;
				width: 80%;
			}
		}
	 }
}