.recent{
	margin: 20px;
	@include respond-to(tablet){
		margin: 12px 10px;
		@include clearfix;

		
	}


	.recent_article{
		@include respond-to(tablet){
			width: 220px;
			float: left;
			&:nth-child(even){
			margin-left: 10px;
			}

			&:nth-child(odd){
				margin-right: 10px;
			}
			
		}

			margin-bottom: 20px;
		a{
			img{
				border: 1px solid $border;
				padding: 10px;
				width: 100%;
			}
			&:hover{
				opacity: 0.8;
			}
			h1{
				margin: 10px 0;
				@include fontStyle($size16);
			}
		}

		p{
			font-family: $font-featuredElement;
			line-height: 1.4em;
			@include font-size($size15);
			color: $BLACK;
		}

		.recent_article_MoreInfo{
			margin-top: 10px;
			color: $greyText;
			@include font-size($size14);
			a{
				@include fontStyle($size14);
				border-bottom: 1px dashed $border;
			}
		}
	}
}